<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee          http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>EditDoctor</servlet-name>
        <servlet-class>servlet.EditDoctor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddServices</servlet-name>
        <servlet-class>servlet.AddServices</servlet-class>
        <multipart-config>
            <location>/tmp</location>
            <max-file-size>20848820</max-file-size>
            <max-request-size>418018841</max-request-size>
            <file-size-threshold>1048576</file-size-threshold>
        </multipart-config>
    </servlet>
    <servlet>
        <servlet-name>EditServices</servlet-name>
        <servlet-class>servlet.EditServices</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditServicesImage</servlet-name>
        <servlet-class>servlet.EditServicesImage</servlet-class>
        <multipart-config>
            <location>/tmp</location>
            <max-file-size>20848820</max-file-size>
            <max-request-size>418018841</max-request-size>
            <file-size-threshold>1048576</file-size-threshold>
        </multipart-config>
    </servlet>
    <servlet>
        <servlet-name>DeleteService</servlet-name>
        <servlet-class>servlet.DeleteService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditPayment</servlet-name>
        <servlet-class>servlet.EditPayment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MakeAppointment</servlet-name>
        <servlet-class>servlet.MakeAppointment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenerateDiagnosis</servlet-name>
        <servlet-class>servlet.GenerateDiagnosis</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckPatientDetails</servlet-name>
        <servlet-class>servlet.CheckPatientDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePayment</servlet-name>
        <servlet-class>servlet.DeletePayment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAppointment</servlet-name>
        <servlet-class>servlet.DeleteAppointment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddDrug</servlet-name>
        <servlet-class>servlet.AddDrug</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteDrug</servlet-name>
        <servlet-class>servlet.DeleteDrug</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateNotification</servlet-name>
        <servlet-class>servlet.UpdateNotification</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetPassword</servlet-name>
        <servlet-class>servlet.SetPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditDoctorMedical</servlet-name>
        <servlet-class>servlet.EditDoctorMedical</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditDrug</servlet-name>
        <servlet-class>servlet.EditDrug</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelAppointment</servlet-name>
        <servlet-class>servlet.CancelAppointment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>paymentSuccess</servlet-name>
        <servlet-class>servlet.paymentSuccess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentApproval</servlet-name>
        <servlet-class>servlet.PaymentApproval</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditAdPatientImage</servlet-name>
        <servlet-class>servlet.EditAdPatientImage</servlet-class>
        <multipart-config>
            <location>/tmp</location>
            <max-file-size>20848820</max-file-size>
            <max-request-size>418018841</max-request-size>
            <file-size-threshold>1048576</file-size-threshold>
        </multipart-config>
    </servlet>
    <servlet>
        <servlet-name>EditDrProfileImg</servlet-name>
        <servlet-class>servlet.EditDrProfileImg</servlet-class>
        <multipart-config>
            <location>/tmp</location>
            <max-file-size>20848820</max-file-size>
            <max-request-size>418018841</max-request-size>
            <file-size-threshold>1048576</file-size-threshold>
        </multipart-config>
    </servlet>
    <servlet>
        <servlet-name>EditDrProfilePass</servlet-name>
        <servlet-class>servlet.EditDrProfilePass</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminLogin</servlet-name>
        <url-pattern>/dashboard/AdminLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLogout</servlet-name>
        <url-pattern>/dashboard/AdminLogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddDoctor</servlet-name>
        <url-pattern>/dashboard/AddDoctor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditDoctorPassword</servlet-name>
        <url-pattern>/dashboard/EditDoctorPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditDoctorImage</servlet-name>
        <url-pattern>/dashboard/EditDoctorImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteDoctor</servlet-name>
        <url-pattern>/dashboard/DeleteDoctor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditDoctor</servlet-name>
        <url-pattern>/dashboard/EditDoctor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddServices</servlet-name>
        <url-pattern>/dashboard/AddServices</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditServices</servlet-name>
        <url-pattern>/dashboard/EditServices</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditServicesImage</servlet-name>
        <url-pattern>/dashboard/EditServicesImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteService</servlet-name>
        <url-pattern>/dashboard/DeleteService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditPayment</servlet-name>
        <url-pattern>/dashboard/EditPayment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MakeAppointment</servlet-name>
        <url-pattern>/dashboard/MakeAppointment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenerateDiagnosis</servlet-name>
        <url-pattern>/dashboard/GenerateDiagnosis</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckPatientDetails</servlet-name>
        <url-pattern>/dashboard/CheckPatientDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePayment</servlet-name>
        <url-pattern>/dashboard/DeletePayment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAppointment</servlet-name>
        <url-pattern>/dashboard/DeleteAppointment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddDrug</servlet-name>
        <url-pattern>/dashboard/AddDrug</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteDrug</servlet-name>
        <url-pattern>/dashboard/DeleteDrug</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateNotification</servlet-name>
        <url-pattern>/dashboard/UpdateNotification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetPassword</servlet-name>
        <url-pattern>/SetPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditDoctorMedical</servlet-name>
        <url-pattern>/dashboard/EditDoctorMedical</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditDrug</servlet-name>
        <url-pattern>/dashboard/EditDrug</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelAppointment</servlet-name>
        <url-pattern>/CancelAppointment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>paymentSuccess</servlet-name>
        <url-pattern>/paymentSuccess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentApproval</servlet-name>
        <url-pattern>/PaymentApproval</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditAdPatientImage</servlet-name>
        <url-pattern>/dashboard/EditAdPatientImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditDrProfileImg</servlet-name>
        <url-pattern>/dashboard/EditDrProfileImg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditDrProfilePass</servlet-name>
        <url-pattern>/dashboard/EditDrProfilePass</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>home.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>ListAiDiagnosis</servlet-name>
        <servlet-class>servlet.ListAiDiagnosis</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MakePayment</servlet-name>
        <servlet-class>servlet.MakePayment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PatientLogin</servlet-name>
        <servlet-class>servlet.PatientLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PatientRegister</servlet-name>
        <servlet-class>servlet.PatientRegister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PatientSignout</servlet-name>
        <servlet-class>servlet.PatientSignout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResendEmail</servlet-name>
        <servlet-class>servlet.ResendEmail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPassword</servlet-name>
        <servlet-class>servlet.ResetPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitAppointment</servlet-name>
        <servlet-class>servlet.SubmitAppointment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyAccount</servlet-name>
        <servlet-class>servlet.VerifyAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyCode</servlet-name>
        <servlet-class>servlet.VerifyCode</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyEmail</servlet-name>
        <servlet-class>servlet.VerifyEmail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditPatientName</servlet-name>
        <servlet-class>servlet.EditPatientName</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditPatientEmail</servlet-name>
        <servlet-class>servlet.EditPatientEmail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditPatientPhone</servlet-name>
        <servlet-class>servlet.EditPatientPhone</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditPatientPassword</servlet-name>
        <servlet-class>servlet.EditPatientPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditPatientImage</servlet-name>
        <servlet-class>servlet.EditPatientImage</servlet-class>
        <multipart-config>
            <location>/tmp</location>
            <max-file-size>20848820</max-file-size>
            <max-request-size>418018841</max-request-size>
            <file-size-threshold>1048576</file-size-threshold>
        </multipart-config>
    </servlet>
    <servlet>
        <servlet-name>AddPatient</servlet-name>
        <servlet-class>servlet.AddPatient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePatient</servlet-name>
        <servlet-class>servlet.DeletePatient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditPatient</servlet-name>
        <servlet-class>servlet.EditPatient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLogin</servlet-name>
        <servlet-class>servlet.AdminLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLogout</servlet-name>
        <servlet-class>servlet.AdminLogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddDoctor</servlet-name>
        <servlet-class>servlet.AddDoctor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditDoctorPassword</servlet-name>
        <servlet-class>servlet.EditDoctorPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditDoctorImage</servlet-name>
        <servlet-class>servlet.EditDoctorImage</servlet-class>
        <multipart-config>
            <location>/tmp</location>
            <max-file-size>20848820</max-file-size>
            <max-request-size>418018841</max-request-size>
            <file-size-threshold>1048576</file-size-threshold>
        </multipart-config>
    </servlet>
    <servlet>
        <servlet-name>DeleteDoctor</servlet-name>
        <servlet-class>servlet.DeleteDoctor</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListAiDiagnosis</servlet-name>
        <url-pattern>/ListAiDiagnosis</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MakePayment</servlet-name>
        <url-pattern>/MakePayment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PatientLogin</servlet-name>
        <url-pattern>/PatientLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PatientRegister</servlet-name>
        <url-pattern>/PatientRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PatientSignout</servlet-name>
        <url-pattern>/PatientSignout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResendEmail</servlet-name>
        <url-pattern>/ResendEmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPassword</servlet-name>
        <url-pattern>/ResetPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitAppointment</servlet-name>
        <url-pattern>/SubmitAppointment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyAccount</servlet-name>
        <url-pattern>/VerifyAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyCode</servlet-name>
        <url-pattern>/VerifyCode</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyEmail</servlet-name>
        <url-pattern>/VerifyEmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditPatientName</servlet-name>
        <url-pattern>/EditPatientName</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditPatientEmail</servlet-name>
        <url-pattern>/EditPatientEmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditPatientPhone</servlet-name>
        <url-pattern>/EditPatientPhone</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditPatientPassword</servlet-name>
        <url-pattern>/EditPatientPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditPatientImage</servlet-name>
        <url-pattern>/EditPatientImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPatient</servlet-name>
        <url-pattern>/dashboard/AddPatient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePatient</servlet-name>
        <url-pattern>/dashboard/DeletePatient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditPatient</servlet-name>
        <url-pattern>/dashboard/EditPatient</url-pattern>
    </servlet-mapping>
    <error-page>
        <error-code>404</error-code>
        <location>/404.jsp</location>
    </error-page>
</web-app>
